p {
	margin: 0;
	margin-bottom: 0.2rem;
}

.t-center {
	text-align: center;
	line-height: 4rem;
	font-size: 1.6rem;
	font-weight: 600;
	background: #fff;
}

.centerbody {
	padding: 1em;
	font-size: 1.3rem;
	max-width: 700px;
}

.centerbody input {
	border: none;
	outline: none;
	color: #2B7DBC
}

.centerbody ._black {
	color: #333;
}

.centerbody ._four {
	width: 4em;
}

.centerbody ._cen {
	text-align: center;
}

.centerbody  ._six {
	width: 6em;
}

.centerbody  ._three {
	width: 3em;
}

.centerbody  ._twenty {
	width: 20em;
}

.centerbody  ._hundred {
	width: 80%;
}

.weight {
	font-weight: 600;
}

.sectitle {
	font-size: 1.6rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.thirdtitle {
	font-size: 1.5rem;
	margin-top: 0.5rem;
}

.a-text {
	width: 100%;
	border: none;
	min-height: 50px;
	border-bottom: 0.1rem solid #ccc;
}

.b-color {
	color: #2B7DBC
}

.t-indent {
	text-indent: 2em;
}

.t-ind1 {
	text-indent: 1em;
}

._pad1 {
	padding-left: 1em;
}

._xx {
	width: 100%;
	overflow: hidden;
	word-wrap: break-word
}

.p5 {
	padding-left: 6em
}

.pr3 {
	padding-right: 3em
}

.pr5 {
	padding-right: 5em
}

.detailCon {
	width: 100%;
	max-width: 500px;
	margin: auto;
	border: 1px solid #ccc;
	padding-bottom: 30px;
}

.detailCon ._title {
	font-size: 16px;
	text-align: right;
	margin: 10px 0;
	padding-right: 10px;
}

.detailCon .uls {
	margin: 0;
	padding: 0 10px;
	font-size: 15px;
}

.detailCon .uls li {
	float: left;
	text-align: center;
	line-height: 28px;
	min-height: 1px;
}

.detailCon .uls .project {
	width: 30%;
	font-weight: 600;
	text-align: left;
}

.detailCon .uls .datanum {
	width: 20%;
}

.detailCon .uls .sinprice {
	width: 20%;
	text-align: right;
}

.detailCon .uls .sumprice {
	width: 30%;
	text-align: right;
}

.detailCon .ulhead {
	color: #337ab7;
	font-weight: 600;
}

.detailCon .ulbody {
	list-style-type: none;
}

.detailCon .uls .secproject ul {
	padding: 0;
}

.detailCon .uls .secproject {
	width: 100%;
}

.detailCon .uls .secproject .seculbody {
	padding: 0 10px;
}

.detailCon .uls .secproject .seculbody .project {
	font-weight: 300;
}

.detailCon .paid {
	padding: 10px 20px 0;
	color: #f00;
	font-size: 15px;
}

.detailCon .paid p {
	margin: 0;
}

.detailCon .paid p.text {
	width: 60%;
}

.detailCon .paid p.num {
	width: 40%;
}

.detailCon .paid .txt {
	float: left;
}

.detailCon .paid .nums {
	float: right;
	text-align: right;
}

.detailCon .benefit {
	color: blue;
	padding-bottom: 10px;
}

.detailCon .subline {
	border-bottom: 1px solid #333;
	margin: 0 20px;
}

.detailCon .total {
	color: #333;
	font-weight: 600;
}

.detailCon .serve {
	font-weight: 300;
	margin-bottom: 10px;
}

ul li {
	list-style-type: none;
}

.detailCon .picCon ul li {
	float: left;
	width: 100px;
	height: 60px;
	overflow: hidden;
	margin-left: 20px;
	margin-bottom: 10px;
}

.detailCon .picCon ul li img {
	width: 100%;
}

/*.manageOrder ul {
	margin: 0;
}*/

.detailCon .infos {
	padding: 20px;
	margin-top: 20px;
}

.detailCon .infos ul li {
	font-size: 14px;
	margin-bottom: 8px;
}	

.detailCon .infos ul li label {
	display: inline-block;
	width: 100px;
	margin: 0;
}

.detailCon ._blk p {
	color: #333;
}

.detailCon ._blk .tit {
	padding-bottom: 5px;
}

.detailCon ._blk .txt {
	font-weight: 600;
}

.minCon {
	width: 300px;
}

.data {
	float: right;
	color: #2B7DBC
}

.other-la {
	display: inline-block;
	width: 5em;
	vertical-align: top;
}

.other-sp {
	display: inline-block;
	width: calc(100% - 6em);
	word-wrap: break-word
}

i.checkB {
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	border: 0.1rem solid #ccc;
	vertical-align: middle;
}

label {
	display: inline;
}