@charset "utf-8";
/*
Author: Craig Erskine
Description: Dynamic Menu System - Horizontal/Vertical
*/

ul#navmenu-h { margin:0; padding:0; list-style:none; position:relative;_position:absolute;}

ul#navmenu-h ul { margin:0; list-style:none; display:none; position:absolute; top:46px; margin-left:2px; padding-bottom:2px;
border-left:2px solid #ff723b; border-right:1px solid #ff723b; background:url(../images/bg_05.gif) center top repeat-y;}
ul#navmenu-h ul.w142 { width:135px;*margin-left:-140px;}
ul#navmenu-h ul.w142 li a { width:135px; height:25px;}
ul#navmenu-h ul.w143 { width:136px;*margin-left:-141px;}
ul#navmenu-h ul.w143 li a { width:136px; height:25px;}

ul#navmenu-h ul ul,ul#navmenu-h ul ul ul { top:0; left:0;}
ul#navmenu-h li { float:left; display:inline; position:relative;}
ul#navmenu-h ul li { width:100%; height:25px;}

/* Root Menu */
ul#navmenu-h a { float:left;}

/* Root Menu Hover Persistence */
ul#navmenu-h a:hover,ul#navmenu-h li:hover a,ul#navmenu-h li.iehover a { background-position:left bottom;}
/* 2nd Menu */
ul#navmenu-h li:hover li a,ul#navmenu-h li.iehover li a { float:none; display:block; text-indent:inherit;
font:15px "微軟正黑體", Verdana, Arial, Helvetica, sans-serif; color:#333; line-height:24px; text-align:center; text-decoration:none;}
/* 2nd Menu Hover Persistence */
ul#navmenu-h li:hover li a:hover,ul#navmenu-h li:hover li:hover a,ul#navmenu-h li.iehover li a:hover,ul#navmenu-h li.iehover li.iehover a { background:url(../images/bg_06.gif) center center no-repeat; color:#f24806; font-weight:bold;}
/* 3rd Menu */
ul#navmenu-h li:hover li:hover li a,ul#navmenu-h li.iehover li.iehover li a { background:#999;}
/* 3rd Menu Hover Persistence */
ul#navmenu-h li:hover li:hover li a:hover,ul#navmenu-h li:hover li:hover li:hover a,ul#navmenu-h li.iehover li.iehover li a:hover,ul#navmenu-h li.iehover li.iehover li.iehover a { background:#666;}
/* 4th Menu */
ul#navmenu-h li:hover li:hover li:hover li a,ul#navmenu-h li.iehover li.iehover li.iehover li a { background:#666;}
/* 4th Menu Hover */
ul#navmenu-h li:hover li:hover li:hover li a:hover,ul#navmenu-h li.iehover li.iehover li.iehover li a:hover { background:#333;}
/* Hover Function - Do Not Move */
ul#navmenu-h li:hover ul ul,ul#navmenu-h li:hover ul ul ul,ul#navmenu-h li.iehover ul ul,ul#navmenu-h li.iehover ul ul ul { display: none;}
ul#navmenu-h li:hover ul,ul#navmenu-h ul li:hover ul,ul#navmenu-h ul ul li:hover ul,ul#navmenu-h li.iehover ul,ul#navmenu-h ul li.iehover ul,ul#navmenu-h ul ul li.iehover ul { display:block;}


ul.navmenu-v, ul.navmenu-v li, ul.navmenu-v ul { width:215px; margin:0 auto; list-style:none;}
ul.navmenu-v li { position:relative; width:215px; padding:10px 0 0 0;}
ul.navmenu-v li.iehover { z-index:1000; /* IE z-index bugfix */ }
ul.navmenu-v ul { display:none; position:absolute; top:10px; left:100%; z-index:9999; margin:23px 0 0 -210px;_margin-left:-213px;}
ul.navmenu-v a { padding-left:10px; display:block; background:url(../images/list_bg.gif) 0 0 no-repeat; color:#333; font:13px PMingLiU; height:23px; line-height:23px; text-decoration:none;}
ul.navmenu-v a:hover,ul.navmenu-v li:hover a,ul.navmenu-v li.iehover a {}
ul.navmenu-v li:hover li,ul.navmenu-v li.iehover li { padding:0;}
ul.navmenu-v li:hover li a,ul.navmenu-v li.iehover li a { float:none; width:192px; background:#efefef; border:1px solid #a2a2a2; border-top:0;}
ul.navmenu-v li:hover li a:hover,ul.navmenu-v li:hover li:hover a,ul.navmenu-v li.iehover li a:hover,ul.navmenu-v li.iehover li.iehover a { background:#999; color:#fff;}
ul.navmenu-v li:hover ul ul,ul.navmenu-v li:hover ul ul ul,ul#navmenu-v li.iehover ul ul,ul#navmenu-v li.iehover ul ul ul { display:none;}
ul.navmenu-v li:hover ul,ul.navmenu-v ul li:hover ul,ul#navmenu-v ul ul li:hover ul,ul#navmenu-v li.iehover ul,ul#navmenu-v ul li.iehover ul,ul#navmenu-v ul ul li.iehover ul { display:block;}


